@page "/{query?}"

<style>
.result:hover
{
width:200%;
height:200%;
}
.results
{
 list-style:none; 
}
.result a {
	text-decoration:none;
}
.title{
	font-size:500%:
}
 .item
 {
 margin:18px;
 padding:10px;
	border-radius:10px;
	border:0.1px GREY solid;
	text-decoration:none;
	font-weight:10px;
	box-shadow:0px 0px 7px BLACK ,inset 0px 0px 3px BLACK;
 }
 .snippet
 {
	fon-size:19px;
 }
</style>



<PageTitle>Moogle!</PageTitle>

<h1>🔍 Moogle!</h1>

<input class="p-1 my-4" @bind="query"  placeholder="Introduzca su búsqueda">

<button type="default" class="btn btn-primary" @onclick="RunQuery">🔍 Buscar</button>

@if (!string.IsNullOrEmpty(result.Suggestion)) {
    <div class="suggestion">
        <p>¿Quisite decir <strong><a href="/#" @onclick="FixQuery" >@result.Suggestion</a></strong>?</p>
    </div>
}


<ul class="results top-row">
@if(result.Items().Count()==0 && query!="" )
{
    <li class="item" >
        <div >
            <p class="title">Lo Sentimos</p>
            <p>Al Parecer no hubo resultados para su busqueda</p>
        </div>
    </li>
}
@foreach (var item in result.Items()) {
    <li id="list">
        <div class="item">
    <a href="/opendoc/@item.Title">
            <p class="title">@item.Title</p>
    </a>
            <p class="snippet">... @item.Snippet ...</p>
        </div>
    </li>
}
</ul>



@code {
    private string query = "";
    private SearchResult result = new SearchResult();
	protected virtual bool ShouldRender()=>true;
    private void RunQuery() {
        result = Moogle.Query(query);
    }

    private void FixQuery(){
	query=result.Suggestion;
	RunQuery();
    }

    protected override void OnInitialized()
    {
	if(Query != null)
	{
		query=Query;
		RunQuery();			
	}
    }

[Parameter]
public string? Query{get;set;}
}

